{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Home Page</h2>

<img src="{{ url_for('static', filename='images/my_plot1.png') }}">
<h2>การพยากรณ์ ราคาทองคำในเดือนถัดไป             {{ prophecy }}</h2>
<h2>การพยากรณ์ ราคาที่คาดว่าจะลด           {{ calcu }}</h2>
<h2>ราคาทองประจำเดือน ตุลาคม              {{ oct }}</h2>
<h2>ราคาทองประจำเดือน กันยายน              {{ sep }}</h2>
<h2>ราคาทองประจำเดือน สิงหาคม              {{ aug }}</h2>
<h2>ราคาทองประจำเดือน กรกฎาคม              {{ jul }}</h2>
<h2>ราคาทองประจำเดือน มิถุนายน              {{ jun }}</h2>
<h2>ราคาทองประจำเดือน พฤษภาคม              {{ may }}</h2>
<h2>ราคาทองประจำเดือน เมษายน              {{ apr }}</h2>
<h2>ราคาทองประจำเดือน มีนาคม              {{ mar }}</h2>
<h2>ราคาทองประจำเดือน กุมภาพันธ์             {{ feb }}</h2>
<h2>ราคาทองประจำเดือน มกราคม              {{ jan }}</h2>



{% endblock %}